# Version control
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist

# Test files
test
*.test.js
*.spec.js
coverage

# Environment variables
.env
.env.*

# Editor files
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Scripts
*.sh
*.ps1

# Docs
README.md
docs/ 